{{title}} //Interpolation
<br>
<input type="text" [value]="title"/> //property binding
<br>
<button type="submit" (click)="btnClicked()">Submit</button> //event binding
<br>
<input type="text" [(ngModel)]="title"/> //Two way binding                             
{{title}}  


<table> //Attribute binding
    <tr><td colspan="3"></td></tr>

    <!-- <tr><td colspan="{{num}}"></td></tr> //error bcz no interpolation will run on attributes.
    <tr><td [colspan]="num"></td></tr>  //error bcz property binding only runs on properties and not on attributes. -->

    <tr><td [attr.colspan]="num"></td></tr>
    <tr><td [attr.colspan]="3"></td></tr>
</table>

<h2 class="design">Simple class</h2> //class binding
<h2 [class.design]="isClass"> Conditional Class binding</h2>
<h2 [ngClass]="classes">Multiple classes bind conditionally</h2>
<h2 [class.design]="isClass" class="pre">Check Class Precedence</h2>


<h2 style="color:blue">Simple inline style</h2> //style binding
<h2 [style.color]="'orange'">Style binding</h2>
<h2 [style.color]="isClass?'yellow':'pink'">Conditional Style binding</h2>
<h2 [ngStyle]="styles">Multiple styles bind</h2>
<h2 style="font-style:italic" [style.color]="'blue'">Check Style Precedence</h2>


<h2 *ngIf="isClass">Hello World ngif</h2> //simple *ngIf
<h2 [hidden]="isClass">Welcome here hidden</h2> //difference with hidden
  
//*ngIf else
<h2 *ngIf="isClass; else elsepart">If part</h2>
<ng-template #elsepart>

    <h2>Else Part</h2>
</ng-template>

//ngif then else
<div *ngIf="isClass; then ifpart; else elsepart">If part</div>
<ng-template #ifpart>

    <h2>If Part</h2>
</ng-template>
<ng-template #elsepart>

    <h2>Else Part</h2>
</ng-template>


<div [ngSwitch]="fruit">  //ngSwitch
  <div *ngSwitchCase="'Apple'">You like Apple</div>
  <div *ngSwitchCase="'Mango'">You like Mango</div>
  <div *ngSwitchCase="'Orange'">You like Orange</div>
  <div *ngSwitchDefault>Pick again!</div>
</div>


<div *ngFor="let f of flowers"> //ngFor
    <h2>{{f}}</h2>
</div>
<div *ngFor="let f of flowers;index as i"> //ngFor with index
    <h2>{{i}} {{f}}</h2>
</div>
---------------------------------------------------
<div *ngFor="let f of flowers;first as fir"> //ngFor whether its first element of array or not
    <h2>{{fir}} {{f}}</h2>
</div>
---------------------------------------------------
<div *ngFor="let f of flowers;last as l"> //ngFor whether its last element of array or not
    <h2>{{l}} {{f}}</h2>
</div>
---------------------------------------------------
<div *ngFor="let f of flowers;odd as o"> //ngFor whether its at odd index or not
    <h2>{{o}} {{f}}</h2>
</div>
---------------------------------------------------
<div *ngFor="let f of flowers;even as e"> //ngFor whether its at even index or not
    <h2>{{e}} {{f}}</h2>
</div>
---------------------------------------------------

//pipes
<h2>{{title | lowercase}}</h2>
<h2>{{birthday | date:"MM/dd/yyyy"}}</h2>
<div *ngFor="let a of arr | customPipe:2">
    <li>{{a}}</li>
</div>

<input type="text" #item>
<button (click)="addItem(item)">Add</button>

//impure pipe
<div *ngFor="let a of arr | impurePipe">
    <li>{{a}}</li>
</div>

//pure pipe
<div *ngFor="let a of arr | purePipe">
    <li>{{a}}</li>
</div>

//using simple function
<div *ngFor="let a of sort(arr)">
    <li>{{a}}</li>
</div>


//Component Interaction(parent-child data pass)
<app-parent></app-parent>

//service ke liye
<app-parent2></app-parent2>
